<div class="card my-4 p-2">
    <div class="card-head">
        {{list_name}}
        <p>test</p>
    </div>
    <ol>
    {{#each list.movies as |movie|}}
    <li><a data-bs-toggle="modal" data-bs-target="#movieModal">{{Title}}</a></li>
    {{/each}}
    </ol>
</div>

