<div class="card my-4 p-2">
    <div class="card-head">
        {{list_name}}
    </div>
    <ol>
    {{#each list.movies as |movie|}}
    <li><a href="/movie/:id">{{Title}}</a></li>
    {{/each}}
    </ol>
</div>

