<div class="col-8">
    <form class="form" id="new-list-form">
        <input type="text" placeholder="List Name" size="35" id="new-list-name">
          <button class="btn btn-outline-dark m-3" id="add-list" type="submit">
            Add List
          </button>
    </form>
</div>
<script src="./js/newlisthandler.js"></script>