<div class="jumbotron jumbotron-fluid p-5">
  <div class="container">
    <h1>Welcome to Movie Bucket List</h1>
    <p class="lead">
      We believe that film tells the stories of our times.
    </p>
    <h2>With a free account, you'll be able to...</h2>
    <ul>
      <li>Keep track of movies you've watched...</li>
      <li>...and movies you want to watch</li>
      <li>Log your reactions and opinions</li>
      <li>Get inspiration</li>
    </ul>
      <h3>
        Make your list. Watch your movies. Document your experience. Share
        your experience.
      </h3>
      <a href="#"><button class="btn btn-outline-dark m-3 cust-btn">Sign Up</button></a>
      <a href="/login"><button class="btn btn-outline-dark m-3">Login</button></a>
  </div>
</div>