<div class="container-fluid">
        <div class="row">
          <aside class="col-2 mx-5">
            <h2 class="p-2">Menu</h2>
            <ul>
              <li class="py-2"><a href="#">My Profile</a></li>
              <li class="py-2"><a href="#">My Lists</a></li>
              <li class="py-2"><a href="#">Create New List</a></li>
              <li class="py-2">
                <a
                  data-bs-toggle="collapse"
                  href="#collapseList"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapse"
                  >Inspiration Lists</a
                >
              </li>
              <div class="collapse" id="collapseList">
                <ul>
                  <li class="py-2">IMDB Top 100</li>
                  <li class="py-2">AFI Top 100</li>
                  <li class="py-2">etc.</li>
                </ul>
              </div>
            </ul>
          </aside>
          <div class="col-8">
            <div class="row">
              <h1>{{user.username}}</h1>
              <div class="col">
              <div class="card my-4 p-2">
                <div class="card-head">Recent Movies</div>
                {{#each list.movies as |movie|}}
                <a href=""><li>{{Title}}</li></a>
                {{/each}}
              </div>
            </div>
            <div class="col">
              <div class="card my-4 p-2">
                <div class="card-head">Recent Lists</div>
                <ul>
                {{#each user.lists as |list|}}
                <a href=""><li>{{list_name}}</li></a>
                {{/each}}
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>