:root {
  --dark: #222126;
  --gray: #59554c;
  --bright-gold: #f2a649;
  --dark-gold: #bf8c4e;
  --light: #f2e5d5;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--dark);
}

header {
  background-color: var(--dark);
  color: var(--bright-gold);
  margin: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--bright-gold);
}

a:hover {
  color: var(--gray);
}

h1 {
  color: var(--bright-gold);
}

h2 {
  color: var(--dark-gold);
}

h3 {
  color: var(--bright-gold);
}

nav {
  background-color: var(--dark-gold);
  border: solid 3px var(--bright-gold);
  height: 76px;
}

nav a {
  color: var(--dark);
  padding: 100px;
  font-size: larger;
}

nav a:hover {
  color: var(--light);
}

.btn {
  background-color: var(--bright-gold);
}

.login-card {
  margin: 0 0 20px 0;
  max-width: 35%;
  padding: 5px;
  border: 3px solid var(--bright-gold);
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
}

.login-card h2 {
  color: var(--dark);
}

.card {
  margin: 0 0 20px 0;
  max-width: 100%;
  padding: 5px;
  border: 1px solid var(--bright-gold);
  background-color: var(--dark);
  color: var(--light);
}

.card-head {
  background-color: var(--dark-gold);
  color: var(--dark);
  text-align: center;
}

.jumbotron {
  background-image: url('../images/timothy-eberly-dTLlhgeEJWg-unsplash.jpg');
  background-size: cover;
  height: 700px;
  color: var(--light);
}

.jumbotron h2 {
  color: var(--dark-gold);
}

.jumbotron h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
}

.btn-container {
  text-align: center;
}

aside {
  background-color: var(--gray);
  color: var(--light);
  text-align: left;
}

aside h2 {
  border-bottom: 1px solid var(--dark);
}

aside ul {
  list-style-type: none;
}

aside a {
  color: var(--light);
}

aside a:hover {
  color: var(--bright-gold);
}

.sign-link {
  color: var(--dark-gold);
}

.sign-link:hover {
  color: var(--gray);
}

.list-card {
  max-width: 35%;
}

.movie-card-btn {
  max-width: 10%;
}

#movie-id {
  color:var(--dark);
}

#new_list:hover {
  color:var(--dark-gold);
  cursor: pointer;
}

#my_lists:hover {
  color:var(--dark-gold);
  cursor: pointer;
}

.modal-center {
  text-align: center;
}